/*Top Sides Bottom*/
/*Top Right Bottom Left*/
:root {
  --font-body: Calibri, "Trebuchet MS", sans-serif;
  --font-headers: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --font-other: Trebuchet MS, Tahoma, sans-serif;
  /* colors */
  --primary-color: #3772ff;
  --secondary-color: #df2935;
  --tertiary-color: #fdca40;
  --light: #e6e8e6;
  --dark: #080708;

  /* sizes */
  --base-font: 18px;
  --small-font: 0.8em;
  --medium-font: 1.2em;
  --large-font: 1.7em;
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--font-body);
  font-size: var(--base-font);
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  /* position: relative; */
  /* padding-bottom: 37px; */
  /* height: 100%; */
}

/* Styles for The Header */
header {
  height: 10vh;
  max-width: 700px;
  border-bottom: 2px solid var(--primary-color);
}
.nav {
  height: 100%;
}
.nav img {
  height: 100%;
}
header .nav:nth-child(1) {
  float: left;
}
header .nav:nth-child(3) {
  float: right;
}
.nav img:hover {
  filter: invert(82%) sepia(99%) saturate(5%) hue-rotate(52deg) brightness(101%)
    contrast(84%);
}
.nav img:active {
  filter: invert(20%) sepia(81%) saturate(3181%) hue-rotate(344deg)
    brightness(97%) contrast(85%);
}
/* ------------------------------------------ */

main {
  background-image: url("/images/hero-1920.jpg");
  background-size: cover;
  min-height: 85vh;
}
button {
  text-align: center;
  border: none;
  outline: none;
  padding: 0.9em;
  border-radius: 7px;
  font-family: var(--font-other);
  color: var(--light);
  background-color: var(--secondary-color);
  cursor: pointer;
}
h1 {
  font-family: var(--font-headers);
  color: var(--primary-color);
  padding: 40px 0 20px;
}
a {
  color: var(--tertiary-color);
}
.home-contents {
  padding: 0 5px;
}
.home-contents button,
.explore-contents button {
  font-size: var(--medium-font);
  min-width: 190px;
}

.home-contents button {
  margin: 40px 20px 0;
}
.explore-contents h1 {
  padding: 15px;
}

.explore-contents button {
  margin: 20px 20px 0;
  min-height: 35vh;
}
.explore-contents :nth-child(4) {
  margin-bottom: 20px;
}

/* Search Form styles */
.search-form {
}
.search-box {
  max-width: 400px;
  /* max-height: 40px; */
  max-height: 50px;
  display: flex;
}
.search-box input {
  font-family: var(--font-body);
  font-size: var(--base-font);
  width: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 7px;
  /* border: 3px solid var(--primary-color); */
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.search-box button {
  max-height: 100%;
  min-width: 50px;
  min-height: unset;
  margin: 0px;
  padding: 7px;
  /* border: 5px solid var(--primary-color); */
  border-radius: 0 5px 5px 0;
  background-color: var(--primary-color);
}
.filter-box {
  margin-top: 10px;
  max-width: 260px;
}
.filter-box label {
  font-family: var(--font-other);
}
.filter-box label:nth-child(1) {
  margin-right: 20px;
}
.filter-box label:nth-child(3) {
  margin-right: 10px;
}

/* Create New Playlist Form styles */
.playlist-form {
  max-width: 250px;
  text-align: left;
  padding: 16px 0px;
}
.playlist-form label {
  display: inline-block;
  font-family: var(--font-other);
  font-size: var(--medium-font);
  margin: 6px 0px;
}
.playlist-form input,
.playlist-form textarea {
  font-family: var(--font-body);
  font-size: var(--base-font);
  width: 100%;
  margin-bottom: 10px;
  padding: 7px;
}
.playlist-form button {
  font-size: var(--medium-font);
  display: block;
}

/*--------------------------------------*/

footer {
  font-size: var(--small-font);
  text-align: center;
  height: 5vh;
  padding: 0.5em;
  width: 100%;
  border-top: 2px solid var(--primary-color);
}

@media only screen and (max-width: 500px) {
  .search-box {
    max-width: 250px;
  }
  .search-form {
  }
  header {
    /* height: 60px; */
  }
  header {
    /* width: 100%; */
  }
  .nav img {
    /* padding: 8px 10px; */
  }
  body {
    /* max-width: 1080px; */
    /* margin: auto; */
  }
}
